* {
	font-family: arial,sans-serif;
	font-size: 13px;
}

header {
	text-align: right;
	vertical-align: middle;
	width: 100%;
	height: 30px;
	position: relative;
	top: 5px;
}

a {
	text-decoration: none;
	display: inline-block;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}
/*為何加了opacity沒有反應？*/ 


.gmail {
	margin: 0 0 0 15px;
	color: rgba(0,0,0,0.87); 
	position: relative;
	top: -10px;
}
/*為何不能用vertical middle? */ 


.icon {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin: 0 0 0 15px;

}

#square {
	background-image: url("img/square.svg");
	background-repeat: no-repeat; 
	background-position: center;
}

#bell {
	background-image: url("img/bell.svg");
	background-repeat: no-repeat; 
	background-position: center;
}

#photo {
	width: 32px;
	height: 32px;
	display: inline-block;
	background-image: url("img/photo.svg");
	background-repeat: no-repeat; 
	background-position: center;
	margin: 0 10px 0 10px;
}

#square:hover {
	background-image: url("img/squarecopy.svg");
	background-repeat: no-repeat; 
	background-position: center;
}

#bell:hover {
	background-image: url("img/bellcopy.svg");
	background-repeat: no-repeat; 
	background-position: center;
}

img {
	display: block;
	width: 272px;
	height: 92px;
	margin: auto;
	margin-top: 155px; 

}


#searchbox {
	width: 584px;
	height: 44px;
	display: block;
	margin: auto;
	margin-top: 26px; 
	border-top: 1px solid #eeeeee;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #cccccc;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

#searchbox:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}


input {
	display: inline-block;
	width: 503px;
	height: 34px;
	position: relative;
	left: 16px;
	bottom: -8px;
	border: none;
	font-size: 16px;
	line-height: 34px;
}

input:focus {
	outline: none;
}


#micro {
	width: 56px;
	height: 44px;
	display: inline-block;
	background-image: url("img/micro.png");
	background-size: 23px 23px;
	background-repeat: no-repeat; 
	background-position: center;
	float: right;
}

#button {
	margin: 29px auto;
	width: 200px;
}

button {
	display: inline-block;
	height: 36px;
	background-color: rgb(242, 242, 242);
	color: #757575;
	font-size: 13px;
	font-weight: 700;
	line-height: 27px;
	border-color: rgb(240, 240, 240);
	border-radius: 2px;
	padding: 0 16px;
	margin: 0 2px;
}

/* button之間有預設空間？*/

button:hover {
	color: #222222;
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

footer a {
	padding-left: 27px;
	line-height: 40px;
	color: #666666;
}

.gray {
	height: 41px;
	background-color: #f2f2f2;
	border-top: 1px solid rgb(228, 228, 228)
}


p {
	padding-left: 30px;
	line-height: 40px;
	font-size: 15px;
	color: rgba(0,0,0,0.54);
	margin: 0;
}

#ads {
	color: #666666;
}


#floatleft {
	padding-left: 3px;
	float: left;
}

#floatright {
	padding-right: 30px;
	float: right;
}






